body {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

    
}

h1 {
    font-size: larger;
    color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    

    
}

input {
    height: auto;
    font-weight: 800;
    color: rgb(224, 224, 236);
}

input, button {
    padding: 10px;
    margin: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    
}

#country-profile {
    margin-top: 20px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}


.video-background {
    position: fixed;
    background: #121111;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Send video to background */
  }
  
  #background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  